/* src/components/Node.css */
.node {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 20px;
  width: 20px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.node-start {
  background-color: #4caf50; /* Green */
}

.node-finish {
  background-color: #f44336; /* Red */
}

.node-visited {
  background-color: #ffcc80; /* Orange */
}

.node-shortest-path {
  background-color: #03a9f4; /* Blue */
}

.node-wall {
  background-color: #333; /* Wall color */
}
